<div data-hook="admin_cms_page_form_fields">
  <%= f.field_container :title, :class => ['form-group'] do %>
    <%= f.label :title, 'Title *' %>
    <%= f.text_field :title, :class => 'form-control' %>
  <% end %>

  <%= f.field_container :enabled, :class => ['checkbox'] do %>
    <%= f.label :enabled do %>
      <%= f.check_box :enabled %>
      Enable
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.field_container :poster, :class => ['form-group'] do %>
      <%= f.label :poster %>
      <div class="row">
        <div class="col-md-6"><%= f.file_field :poster, :class => 'form-control' %></div>
        <div class="col-md-1 text-center"><span style="position: relative; top: 5px;">OR</span></div>
        <div class="col-md-5"><%= f.text_field :poster_remote_url, :class => 'form-control', placeholder: 'Upload from remote URL' %></div>
      </div>
    <% end %>
    <% if @press.poster.present? %>
      <p style="margin-top: 10px;"><%= image_tag(@press.poster.url(:thumb), width: 50) %></p>
    <% end %>
  </div>
</div>
