<div data-hook="admin_blog_post_form_fields">
  <%= f.field_container :title, :class => ['form-group'] do %>
    <%= f.label :title, 'Title *' %>
    <%= f.text_field :title, :class => 'form-control' %>
  <% end %>

  <%= f.field_container :publish_date, :class => ['form-group'] do %>
    <%= f.label :publish_date, 'Publish Date' %>
    <div class="input-group">
      <%= f.text_field :publish_date, :class => 'datepicker datepicker-from form-control', :placeholder => Spree.t(:start) %>
      <span class="input-group-addon">
        <i class="icon icon-calendar"></i>
      </span>
    </div>
  <% end %>

  <%= f.field_container :enabled, :class => ['checkbox'] do %>
    <%= f.label :enabled do %>
      <%= f.check_box :enabled %>
      Enable
    <% end %>
  <% end %>

  <%= f.field_container :featured_image, :class => ['form-group'] do %>
    <%= f.label :featured_image %>
    <div class="row">
      <div class="col-md-6"><%= f.file_field :featured_image, :class => 'form-control' %></div>
      <div class="col-md-1 text-center"><span style="position: relative; top: 5px;">OR</span></div>
      <div class="col-md-5"><%= f.text_field :featured_image_remote_url, :class => 'form-control', placeholder: 'Upload from remote URL' %></div>
    </div>
  <% end %>
  <% if f.object.featured_image.present? %>
    <p><%= image_tag f.object.featured_image.url(:thumb), width: 100 %></p>
  <% end %>

  <%= f.field_container :short_content, :class => ['form-group'] do %>
    <%= f.label :short_content, label: 'Short Content *' %>
    <%= f.text_area :short_content, { :cols => 60, :rows => 6, :class => 'form-control' } %>
  <% end %>

  <%= f.field_container :content, :class => ['form-group'] do %>
    <%= f.label :content, label: 'Content *' %>
    <%= f.text_area :content, { :cols => 60, :rows => 6, :class => 'form-control', :data => {:provider => 'summernote'} } %>
  <% end %>
</div>
