<div data-hook="admin_cms_layout_section_form_fields">
  <%= f.field_container :name, :class => ['form-group'] do %>
    <%= f.label :name, 'Name *' %>
    <%= f.text_field :name, :class => 'form-control' %>
  <% end %>

  <%= f.field_container :key, :class => ['form-group'] do %>
    <%= f.label :key, 'Key *' %>
    <%= f.text_field :key, :class => 'form-control' %>
  <% end %>
</div>