<div data-hook="admin_blog_post_medium_form_fields">
  <%= f.field_container :name, :class => ['form-group'] do %>
    <%= f.label :name, 'Name *' %>
    <%= f.text_field :name, :class => 'form-control' %>
  <% end %>

  <%= f.field_container :url, :class => ['form-group'] do %>
    <%= f.label :url, 'URL' %>
    <%= f.text_field :url, :class => 'form-control', placeholder: 'Enter full url address' %>
  <% end %>

  <%= f.field_container :file, :class => ['form-group'] do %>
    <%= f.label :file, 'Media File' %>
    <div class="row">
      <div class="col-md-6"><%= f.file_field :file, :class => 'form-control' %></div>
      <div class="col-md-1 text-center"><span style="position: relative; top: 5px;">OR</span></div>
      <div class="col-md-5"><%= f.text_field :file_remote_url, :class => 'form-control', placeholder: 'Upload from remote URL' %></div>
    </div>
  <% end %>
  <% if f.object.file.present? %>
    <p><%= image_tag f.object.file.url(:thumb), width: 100 %></p>
  <% end %>
</div>